@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --purple-300: hsl(276, 100%, 81%);
  --purple-600: hsl(276, 55%, 52%);
  --gray-500: hsl(270, 7%, 64%);
  --gray-300: hsl(206, 6%, 79%);
  --purple-950: hsl(271, 36%, 24%);

  --pink-500: hsl(293, 100%, 63%);
  --purple-500: hsl(264, 100%, 61%);

  --white: hsl(0, 100%, 100%);
  --gray-100: hsl(270, 20%, 96%);
  --pink-400: hsl(289, 100%, 72%);

  --body-font-size: 16px;
}

@layer base {
  html {
    font-size: var(--body-font-size);
  }

  body {
    font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    background-color: var(--gray-100);
    color: var(--purple-950);
  }
}

@layer utilities {
  .text-subheading {
    color: var(--purple-300);
  }

  .text-chat-left {
    color: var(--purple-600);
  }

  .text-chat-right {
    color: var(--gray-500);
  }

  .text-placeholder {
    color: var(--gray-300);
  }

  .text-heading-main {
    color: var(--purple-950);
  }

  .bg-app {
    background-color: var(--gray-100);
  }

  .bg-submit {
    background-color: var(--purple-950);
    color: var(--white);
  }

  .bg-app-gradient {
    background-image: linear-gradient(
      135deg,
      var(--pink-500),
      var(--purple-500)
    );
  }

  .border-radio {
    border-color: var(--pink-400);
  }
}
